/*
    Слайдер
*/
.slider {
    &__items {
        display: flex;
        width: 100%;
        transition: .2s all;
    }

    &__container {
        overflow: hidden;
    }

    &__item {
        container-type: inline-size;
        width: 100%;
        transition: .2s all;
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        list-style: none;
        padding: 10px 0;
        margin-top: 10px;

        &-prev,
        &-next {
            width: 20px;
            cursor: pointer;
            transition: .2s all;

            &:hover {
                color: var(--main-color);
            }

            &_disabled {
                opacity: 0.4;
                pointer-events: none;
            }
        }

        &-btn {
            padding: 5px;
            transition: .2s all;
            cursor: pointer;

            @media (min-width: 900px) {
                font-size: 18px;
            }

            &:hover {
                color: var(--main-color);
            }

            &_active {
                color: var(--main-color);
            }
        }
    }
}