/*
    Секция для получения скидки
*/
.discount-section {
    color: #686868;
    background-color: white;

    &__container {
        container-type: inline-size;
    }

    &__wrap {
        background-color: #ffebda;
        border-radius: var(--radius);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        --radius: 20px;

        @container (min-width: 300px) {
            --radius: 30px;
        }

        @container (min-width: 450px) {
            --radius: 40px;
        }

        @container (min-width: 600px) {
            flex-direction: row;
        }
    }

    &__left {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @container (min-width: 300px) {
            padding: 20px;
        }

        @container (min-width: 450px) {
            padding: 25px;
        }

        @container (min-width: 600px) {
            padding: 30px;
            width: 50%;
        }
    }

    &__right {
        width: 100%;

        @container (min-width: 600px) {
            width: 50%;
        }
    }

    &__content {
        font-size: 14px;

        @container (min-width: 300px) {
            font-size: 16px;
        }

        @container (min-width: 340px) {
            font-size: 18px;
        }

        @container (min-width: 450px) {
            font-size: 20px;
        }

        @container (min-width: 600px) {
            font-size: 16px;
        }

        @container (min-width: 800px) {
            font-size: 18px;
        }

        @container (min-width: 900px) {
            font-size: 20px;
        }

        @container (min-width: 1024px) {
            font-size: 24px;
        }

        @container (min-width: 1440px) {
            font-size: 28px;
        }

        @container (min-width: 1600px) {
            font-size: 32px;
        }
    }

    &__image {
        border-radius: var(--radius);
        overflow: hidden;
        height: 100%;
        border: 2px solid var(--main-color);

        @container (min-width: 1440px) {
            aspect-ratio: 16 / 9;
        }

        @container (min-width: 1600px) {
            aspect-ratio: 20 / 9;
        }

        img {
            width: 100%;
            display: flex;
            object-fit: cover;
            height: 100%;
        }
    }

    &__btn {
        border-radius: 50px;
        margin: 0 auto;
        font-size: 14px;
        width: 100%;
        max-width: 100%;
        font-weight: 600;
        
        @container (min-width: 300px) {
            font-size: 16px;
        }

        @container (min-width: 450px) {
            font-size: 18px;
        }

        @container (min-width: 600px) {
            font-size: 16px;
            max-width: max-content;
            padding: 10px 20px;
        }

        @container (min-width: 900px) {
            font-size: 20px;
            padding: 10px 30px;
        }

        @container (min-width: 1024px) {
            font-size: 24px;
            padding: 10px 40px;
        }

        @container (min-width: 1440px) {
            font-size: 28px;
            padding: 15px 50px;
        }

        & ~ span {
            font-size: 14px;
            text-align: center;
            margin: 0 auto;
            display: block;
            margin-top: 5px;

            @container (min-width: 900px) {
                font-size: 16px;
                margin-top: 6px;
                display: block;
            }

            @container (min-width: 1024px) {
                margin-top: 15px;
            }
        }
    }

    &__bottom {
        @container (min-width: 600px) {
            margin-top: auto;
        }

        @container (min-width: 900px) {
            margin: auto;
        }
    }
}