// Первый экран
.first-screen {
    background: linear-gradient(180deg, rgb(231, 232, 234) 0%, rgb(240, 242, 245) 70%);
    padding-top: 10px;
    overflow: hidden;

    @media (min-width: 1440px) {
        padding-top: 20px;
    }

    &__timer {
        margin-top: 20px;

        @media (min-width: 1600px) {
            margin-top: 40px;
        }
    }

    &__order-btn {
        
    }

    &__info {
        font-size: 11px;
        background-color: #ccd7d9;
        padding-bottom: 15px;

        @media (min-width: 300px) {
            font-size: 13px;
        }

        @media (min-width: 340px) {
            font-size: 14px;
        }

        @media (min-width: 450px) {
            font-size: 16px;
        }

        @media (min-width: 600px) {
            bottom: 20%;
            font-size: 16px;
        }

        @media (min-width: 800px) {
            display: none;
        }

        &-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
            top: -20px;

            @media (min-width: 340px) {
                gap: 15px;
            }

            @media (min-width: 450px) {
                top: -40px;
            }

            @media (min-width: 600px) {
                gap: 20px;
            }

            @media (min-width: 800px) {
                top: 0;
            }
        }

        hr {
            display: flex;
            width: 100%;
            height: 1px;
            border: none;
            background-color: #686868;
        }
    }

    &__bg {
        position: relative;
        width: 100%;

        &-desc {
            font-size: 13px;
            position: absolute;
            top: 80px;
            right: 20px;
            max-width: 190px;
            flex-direction: column;
            gap: 10px;
            display: none;

            @media (min-width: 800px) {
                display: flex;
                font-size: 14px;
            }

            @media (min-width: 960px) {
                top: 90px;
                right: 30px;
                max-width: 230px;
                font-size: 15px;
            }

            @media (min-width: 1440px) {
                top: 94px;
                right: 90px;
                max-width: 325px;
                font-size: 16px;
            }

            hr {
                display: flex;
                width: 100%;
                height: 1px;
                border: none;
                background-color: #686868;
            }
        }

        &-wrap {
            position: relative;
            width: 100%;
            margin-top: 80px;

            @media (min-width: 600px) {
                margin-top: 120px;
            }

            @media (min-width: 800px) {
                margin-top: 160px;
            }

            @media (min-width: 1600px) {
                margin-top: 220px;
            }
        }

        &-order-btn {
            display: none;
            position: relative;
            max-width: max-content;
            position: absolute;
            top: 155px;
            left: 5%;

            @media (min-width: 800px) {
                display: flex;
            }

            @media (min-width: 960px) {
                left: 10%;
                top: 50%;
            }

            @media (min-width: 1440px) {
                top: 210px;
                left: 10%;
            }
        }

        &-img {
            width: 100%;
            position: relative;
            z-index: 2 !important;
            display: flex;

            &_mobile {
                @media (min-width: 800px) {
                    display: none;
                }
            }

            &_desktop {
                width: 100%;
                z-index: 1 !important;
                display: none;

                @media (min-width: 800px) {
                    display: block;
                }
            }
        }

        &-plates {
            position: absolute;
            top: -6px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            @media (min-width: 300px) {
                top: -8px;
            }

            @media (min-width: 340px) {
                top: -10px;
            }

            @media (min-width: 450px) {
                top: -9px;
            }

            @media (min-width: 900px) {
                top: -6px;
                z-index: 0 !important;
            }

            @media (min-width: 1600px) {
                top: 0;
            }
        }
    }

    * {
        z-index: 1;
    }

    &__gradient {
        position: absolute;
        top: -10%;
        height: 130%;
        width: 100%;
        background: radial-gradient(circle, white 30%, transparent 50%);
        z-index: 0;

        @media (min-width: 800px) {
            display: none;
        }
    }

    &__plate {
        position: absolute;
        margin: 0 var(--container-padding);
    
        &_1 {
            transform: rotate(-4deg);
            position: absolute;
            top: -36px;

            @media (min-width: 340px) {
                top: -46px;
            }

            @media (min-width: 600px) {
                top: -64px;
            }

            @media (min-width: 800px) {
                top: -101px;
            }

            @media (min-width: 1600px) {
                top: -130px;
            }
        }

        &_2 {
            transform: rotate(2deg);
            position: absolute;
            top: -10px;

            @media (min-width: 340px) {
                top: -13px;
            }

            @media (min-width: 600px) {
                top: -19px;
            }

            @media (min-width: 800px) {
                top: -36px;
            }

            @media (min-width: 1600px) {
                top: -45px;
            }
        }

        &_3 {
            transform: rotate(2deg) translateX(40px);
            position: absolute;
            top: 12px;
            background-color: #F5CF77 !important;

            @media (min-width: 340px) {
                top: 14px;
                transform: rotate(2deg) translateX(67px);
            }

            @media (min-width: 600px) {
                top: 16px;
            }

            @media (min-width: 800px) {
                transform: rotate(2deg) translateX(100px);
                border-radius: 50px !important;
            }

            @media (min-width: 1600px) {
                transform: rotate(2deg) translateX(90px);
                top: 22px;
            }
        }
    }
}


/* Таймер */
.first-screen-timer {
    font-weight: 600;
    font-size: 14px;
    text-align: center;

    @media (min-width: 340px) {
        font-size: 15px;
    }

    @media (min-width: 450px) {
        font-size: 16px;
    }

    @media (min-width: 1600px) {
        font-size: 18px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        @media (min-width: 800px) {
            gap: 22px;
        }

        @media (min-width: 960px) {
            gap: 28px;
        }
    }

    &__timer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        color: #6F6A6A;

        @media (min-width: 300px) {
            gap: 5px;
        }

        @media (min-width: 800px) {
            gap: 8px;
        }

        @media (min-width: 960px) {
            gap: 14px;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            @media (min-width: 800px) {
                flex-direction: row;
            }
        }
    }
}

/* Плашка */
.plate {
    border-radius: 8px;
    background-color: white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 11px;
    padding: 5px 10px;
    box-shadow: 0 0 30px -16px #c5c5c5;

    @media (min-width: 300px) {
        font-size: 13px;
    }

    @media (min-width: 340px) {
        font-size: 15px;
    }

    @media (min-width: 450px) {
        font-size: 18px;
    }

    @media (min-width: 600px) {
        font-size: 24px;
    }

    @media (min-width: 800px) {
        font-size: 32px;
        padding: 8px 26px;
    }

    @media (min-width: 1440px) {
        font-size: 36px;
    }

    @media (min-width: 1600px) {
        font-size: 50px;
    }
}