.reviews-section {
    margin-bottom: 20px;

    @media (min-width: 300px) {
        margin-bottom: 35px;
    }

    @media (min-width: 340px) {
        margin-bottom: 40px;
    }

    @media (min-width: 450px) {
        margin-bottom: 50px;
    }

    @media (min-width: 800px) {
        margin-bottom: 70px;
    }

    @media (min-width: 960px) {
        margin-bottom: 80px;
    }

    &__item {
        container-type: inline-size;
        width: 100%;
    }

    &__title {
        margin-bottom: 15px;

        @media (min-width: 300px) {
            margin-bottom: 20px;
        }

        @media (min-width: 340px) {
            margin-bottom: 25px;
        }

        @media (min-width: 450px) {
            margin-bottom: 30px;
        }
    }

    &__rev {
        container-type: inline-size;
        width: 100%;
        overflow: hidden;
    }

    &__list {
        display: flex;
    }
}