/*
    Секция с отзывами
*/
.reviews-section {
    padding-bottom: 20px;
    background-color: white;
    overflow: hidden;

    @media (min-width: 300px) {
        padding-bottom: 35px;
    }

    @media (min-width: 340px) {
        padding-bottom: 40px;
    }

    @media (min-width: 450px) {
        padding-bottom: 50px;
    }

    @media (min-width: 800px) {
        padding-bottom: 70px;
    }

    @media (min-width: 960px) {
        padding-bottom: 80px;
    }

    &__item {
        container-type: inline-size;
        width: 100%;
    }

    &__title {
        padding-bottom: 15px;

        @media (min-width: 300px) {
            padding-bottom: 20px;
        }

        @media (min-width: 340px) {
            padding-bottom: 25px;
        }

        @media (min-width: 450px) {
            padding-bottom: 30px;
        }
    }

    &__rev {
        container-type: inline-size;
        width: 100%;
        transition: .2s all;
        max-width: 300px;
        min-width: 300px;

        &_active {
            transform: scale(1.01);

            & > * {
                box-shadow: 0 0 18px -8px #ccc;
            }
        }
    }

    &__list {
        display: flex;
        gap: 10px;
    }
}



.slider {
    &__items {
        overflow: hidden;
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        list-style: none;
        padding: 10px 0;
        margin-top: 10px;

        &-prev,
        &-next {
            width: 20px;
            cursor: pointer;
            transition: .2s all;

            &:hover {
                color: var(--main-color);
            }

            &_disabled {
                opacity: 0.4;
                pointer-events: none;
            }
        }

        &-btn {
            padding: 5px;
            transition: .2s all;
            cursor: pointer;

            &:hover {
                color: var(--main-color);
            }

            &_active {
                color: var(--main-color);
            }
        }
    }
}