/*
    Секция почему
*/
.why-section {
    background-color: white;
    padding-bottom: 25px;

    @media (min-width: 300px) {
        padding-bottom: 30px;
    }

    @media (min-width: 340px) {
        padding-bottom: 40px;
    }

    @media (min-width: 450px) {
        padding-bottom: 50px;
    }

    @media (min-width: 960px) {
        padding-bottom: 60px;
    }

    &__container {
        
    }

    &__title {
        padding-top: 5px;
        padding-bottom: 20px;

        @media (min-width: 300px) {
            padding-top: 10px;
            padding-bottom: 30px;
        }

        @media (min-width: 450px) {
            padding-top: 15px;
            padding-bottom: 33px;
        }

        @media (min-width: 600px) {
            padding-top: 20px;
            padding-bottom: 36px;
        }
    }

    &__why {
        display: grid;
        grid-template-areas: 
            "item1"
            "item2"
            "item3";
        gap: 10px;

        @media (min-width: 300px) {
            gap: 15px;
        }

        @media (min-width: 450px) {
            grid-template-areas: 
                "item1 item2"
                "item3 item3";
        }

        @media (min-width: 800px) {
            grid-template-areas: 
                "item1 item2 item3";
        }

        @media (min-width: 1440px) {
            gap: 20px;
        }
    }

    &__item {
        container-type: inline-size;
        width: 100%;

        &:nth-child(1) {
            grid-area: item1;
        }

        &:nth-child(2) {
            grid-area: item2;
        }

        &:nth-child(3) {
            grid-area: item3;
        }
    }
}