@forward "vars";

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.section-title {
  text-align: center;
  color: var(--main-color);
  font-size: 18px;

  @media (min-width: 300px) {
    font-size: 20px;
  }

  @media (min-width: 450px) {
    font-size: 26px;
  }

  @media (min-width: 600px) {
    font-size: 30px;
  }

  @media (min-width: 800px) {
    font-size: 32px;
  }

  @media (min-width: 900px) {
    font-size: 36px;
  }

  @media (min-width: 1440px) {
    font-size: 42px;
  }
}