@forward "global";

@forward "./components/btns";
@forward "./components/cards";
@forward "./components/slider";

@forward "./blocks/header";

@forward "./sections/first-screen";
@forward "./sections/discount";
@forward "./sections/progress";
@forward "./sections/why";
@forward "./sections/reviews";
@forward "./sections/result";